.wp-block-scbb-container {
    position: relative;
    z-index: 1;
    .scbb-container {
        margin-left: auto;
        margin-right: auto;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    @for $i from 0 to 500 {
        &.dpt-#{$i}px {
            padding-top: #{$i}px;
        }
        &.dpr-#{$i}px {
            padding-right: #{$i}px;
        }
        &.dpb-#{$i}px {
            padding-bottom: #{$i}px;
        }
        &.dpl-#{$i}px {
            padding-left: #{$i}px;
        }
    }
}

// tablet devices
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wp-block-scbb-container {
        @for $i from 0 to 500 {
            &.tpt-#{$i}px {
                padding-top: #{$i}px;
            }
            &.tpr-#{$i}px {
                padding-right: #{$i}px;
            }
            &.tpb-#{$i}px {
                padding-bottom: #{$i}px;
            }
            &.tpl-#{$i}px {
                padding-left: #{$i}px;
            }
        }
    }
}

// Mobile devices
@media only screen and (max-width: 767px) {
    .wp-block-scbb-container {
        @for $i from 0 to 500 {
            &.mpt-#{$i}px {
                padding-top: #{$i}px;
            }
            &.mpr-#{$i}px {
                padding-right: #{$i}px;
            }
            &.mpb-#{$i}px {
                padding-bottom: #{$i}px;
            }
            &.mpl-#{$i}px {
                padding-left: #{$i}px;
            }
        }
    }
}